.datepickr-calendar select {
  font-size: 16px;
}

.datepickr-calendar {
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: 2px solid #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
  display: none;
  position: absolute;
  top: 130%;
  left: -200px;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.open {
  display: block;
}

.datepickr-calendar .datepickr-months {
  background-color: #f6af3a;
  border: 1px solid #e78f08;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  padding: 2px;
  text-align: center;
  font-size: 120%;
}

.datepickr-calendar .datepickr-prev-month,
.datepickr-calendar .datepickr-next-month {
  color: #fff;
  text-decoration: none;
  padding: 0 0.4em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
  float: left;
}

.datepickr-calendar .datepickr-next-month {
  float: right;
}

.datepickr-calendar .datepickr-current-month {
  padding: 0 0.5em;
}

.datepickr-calendar .datepickr-prev-month:hover,
.datepickr-calendar .datepickr-next-month:hover {
  background-color: #fdf5ce;
  color: #c77405;
}

.datepickr-calendar table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.datepickr-calendar thead {
  font-size: 90%;
}

.datepickr-calendar th,
.datepickr-calendar td {
  width: 14.3%;
  font-size: 20px;
}

.datepickr-calendar th {
  text-align: center;
  padding: 5px;
}

.datepickr-calendar td {
  text-align: center;
  font-weight: bold;
  padding: 1px;
}

.datepickr-calendar .datepickr-day {
  display: block;
  color: #bbb;
  background-color: #eee;
  border: 1px solid #555;
  padding: 4px 8px;
  cursor: pointer;
}

.datepickr-calendar .datepickr-day:hover {
  color: #c77405;
  background-color: #fdf5ce;
  border: 1px solid #fbcb09;
}

.datepickr-calendar .today .datepickr-day {
  background-color: #fff0a5;
  border: 1px solid #fed22f;
  color: #363636;
}

.datepickr-calendar .selected .datepickr-day {
  background-color: #1c94c4;
  color: #f6f6f6;
}

.datepickr-calendar .disabled .datepickr-day,
.datepickr-calendar .disabled .datepickr-day:hover {
  background-color: #ccc;
  border: 1px dotted #555;
  color: #bbb;
  cursor: default;
}

.hidden {
  display: none;
  visibility: hidden;
}

td.translated .datepickr-day {
  background-color: #6e6;
  color: #000;
}

td.calend_silence .datepickr-day {
  background-color: #ff7;
  color: #000;
}

td.calend_almost-silence .datepickr-day {
  background-color: #b2f66f;
  color: #000;
}

td.calend_blank .datepickr-day {
  background-color: #fff;
}
.calendarBtn {
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgb(246, 175, 58);
  border: 1px solid rgb(0, 0, 0);
}
